:root {
    --primary-color: #010211;
    --secundary-color: #FFFCFC;
    --third-color: #1E1C1C;

    /* ====== FONT TIPOGRAPHY ====== */

    --primery-font: 1.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem; /* 1rem = 16px */
    --small-font-size: 0.813rem;

    /* ====== FONT WEIGHT ====== */

    --font-medium: 500;
    --font-semibold: 600;

    /* ====== Z-INDEX ====== */

    --z-fixed: 100;

}

/* ================== BASE ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--secundary-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}


/* ================== CLASSES REUTILISÁVEIS ================== */

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.c-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--secundary-color);
    margin-bottom: 2rem;
}

.c-section__subtitle {
    font-size: var(--h2-font-size);
    color: var(--secundary-color);
    display: block;
    max-width: 1310px;
    margin: 0px auto 20px auto;
}

.c-section__movies-body {
    max-width: 1310px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 960px) and (max-width: 1310px) {
    .c-section__movies-body {
        max-width: 860px;
    }
}

@media (min-width: 410px) and (max-width: 960px) {
    .c-section__movies-body {
        max-width: 410px;
    }
}

.c-section__movie-container {
    width: 410px;
    min-height: auto;
    display: inline-block;
    margin-left: 40px;
}

.c-section__movie-container:first-child {
    margin-left: 0;
}

.c-sliders {
    width: 1000vw;
}

.c-section__btns-container, .c-section__episode {
    display: none;
}

.c-section__btns-container {
    height: 100px;
}

.c-seciton__btns-container-left {
    display: flex;
}

.c-section__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secundary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.c-section__btn:first-child {
    margin-left: 5px;
}

.c-section__btn--white {
    background-color: var(--secundary-color);
}

.c-section__default-img-btn {
    width: 38px;
    height: 38px;
}

.c-section__defaul-img-btn--bigger {
    width: 48px;
    height: 48px;    
}

.c-section__epidose-number {
    color: white;
}

.c-section__epidose-title {
    color: white;
}

/* ================== IS HOVER ================== */

.c-section__movie-container.is-hover {
    transform: scale(130%);
    background-color: var(--third-color);
    min-height: 100%;
}

.c-section__btns-container.is-hover {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-section__episode.is-hover {
    display: block;
    background-color: aliceblue;
}

/* ================== UTILITÁRIOS ================== */

.u-padding-left-right {
    padding: 0px 40px;
}

.u-display-block {
    display: block;
}

/* próximos passos:
 - Finalizar o projeto de hover do conainer que fica no meio da section
 - Finalizar o header 
 - Após finaliza, pelo menos o que eu conseguir fazer, pedir feedback ao Cladio, e quem saber fazer uma chamada com ele.*/