:root {
    --primary-color: #010211;
    --secundary-color: #FFFCFC;

    /* ====== FONT TIPOGRAPHY ====== */

    --primery-font: 1.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem; /* 1rem = 16px */
    --small-font-size: 0.813rem;

    /* ====== FONT WEIGHT ====== */

    --font-medium: 500;
    --font-semibold: 600;

    /* ====== Z-INDEX ====== */

    --z-fixed: 100;

}

/* ================== BASE ================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--secundary-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}


/* ================== CLASSES REUTILISÁVEIS ================== */

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.c-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--secundary-color);
    margin-bottom: 2rem;
}

.section__subtitle {
    font-size: var(--h2-font-size);
    color: var(--secundary-color);
    display: block;
}

.c-section__movies-body {
    max-width: 1310px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 960px) and (max-width: 1310px) {
    .c-section__movies-body {
        max-width: 860px;
    }
}

@media (min-width: 410px) and (max-width: 960px) {
    .c-section__movies-body {
        max-width: 410px;
    }
}

.c-section__movie-container {
    width: 410px;
    display: inline-block;
    margin-left: 40px;
}

.c-section__movie-container:first-child {
    margin-left: 0;
}

.c-sliders {
    width: 1000vw;
}

.c-section__btns-container, .c-section__episode {
    display: none;
}


/* ================== UTILITÁRIOS ================== */

.u-padding-left-right {
    padding: 0px 40px;
}

/* próximos passos:
 - selecionar um c-section__movie-container e modificar ele com transform e display block para ficar parecido com o figma */