:root {
    --color-primery: #393939;
    --color-secundary: #ff0000;
    --color-text: #FFF;

    /* ============ FONT TIPOGRAPHY =========== */

    --margin: 3rem;
    --mg2: 1rem;
    --primery-font: 1.5rem;

    /* ============ FONT WEIGHT =========== */
        
    --font-medium: 500;
    --font-semibold: 600;
}

/* =============== BASE =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--color-text);
}

/* =============== CLASSES REUTILISÁVEIS ================= */

main {
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url('../images/bc1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

section {
    padding: 4.5rem 0rem;
}

.container {
    width: 100%;
    height: 100vh;
}

.grid {
    display: grid;
}

/* =============== LOGIN ================= */

.l-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-logo {
    font-size: 3rem;
    font-weight: var(--font-semibold);
    color: var(--color-secundary);
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.c-login {
    width: 400px;
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7));;;
    padding: var(--margin);
    border-radius: 5px;
    margin-top: 50px;
}

.c-login__title {
    margin: var(--primery-font) 0rem;
}

.c-login__form {
    display: flex;
    flex-direction: column;
}

.c-login__input {
    width: 100%;
    height: 45px;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-primery);
    border: none;
    outline: none;
    font-size: 0.9rem;
}

.c-login__btn {
    width: 100%;
    height: 45px;
    font-weight: var(--font-semibold);
    background-color: #ff0000;
    outline: 0;
    border: none;
    color: var(--color-text);    
    border-radius: 5px;
    margin-top: var(--mg2);
}

.c-remember {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.616);
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.remeber__help--link {
    color: rgba(255, 255, 255, 0.616);
    text-decoration: none;
}

.c-more-info {
    color: rgba(255, 255, 255, 0.397);
    font-size: 0.8rem;
    margin: 4rem 0rem;
}

.c-more-info__social, .c-more-info__signup, .c-more-info__learn-more {
    margin-top: var(--mg2);
}

.c-more-info__social {
    display: flex;
    align-items: center;
}

.c-more-info__img {
    width: 1.2rem;
}

.c-more-info__social span {
    display: inline-block;
    margin-left: 8px;
    font-size: 0.8rem;
}

.c-more-info__signup {
    font-size: 0.9rem;
}

.c-more-info__link {
    color: #FFF;
    text-decoration: none;
}

.c-more-info__learn-more {
    line-height: 0.9rem;
}

.c-more-info__learn-more--blue {    
    color: rgb(0, 102, 255);
    font-weight: var(--font-medium);
    text-decoration: none;
}

.remeber__help--link:hover, .c-more-info__link:hover, .c-more-info__learn-more--blue:hover {
    text-decoration: underline;
}